{% extends "layout.html" %}


{% from "panel/macro.njk" import panel %}
{% from "summary-list/macro.njk" import summaryList %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds"> 
  
  {{ panel({
        titleText: "Booking complete",
        text: "We're thinking your confirmation now"
      }) }}

      <h2 class="nhsuk-heading-m">Your test details</h2>

      {% set siteLocationHtml %}
        We didn't take any details because THIS WAS THE TEST. No need to order one.
        <br>
        You DO have magic powers.
        <br>
        Congrats 
      {% endset %}

      {{ summaryList({
        border: false,
        rows: [
          {
            key: {
              text: "Site location"
            },
            value: {
              html: siteLocationHtml
            }
          }
        ]
      }) }}

      <p>
        <a href="#">Tell us about your experience using this service. And you better make it good.</a>
      </p>

    </div>
  </div>
{% endblock %}
