{% extends "layout.html" %}


{% from "back-link/macro.njk" import backLink %}
{% from "button/macro.njk" import button %}
{% from "radios/macro.njk" import radios %}

{% set mainClasses = "nhsuk-main-wrapper--s" %}

{% block beforeContent %}
  {{ backLink({
    href: "start-page.html",
    text: "Back"
  }) }}
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">
      <form action="/answer-fingers" method="post" novalidate>

        {{ radios({
          fieldset: {
            legend: {
              text: "How many fingers am I holding up?",
              size: "l",
              isPageHeading: true
            }
          },
          name: "howmanyfingers",
          value: data.howmanyfingers,
          items: [
            {
              value: "One",
              text: "One"
            },
            {
              value: "Two",
              text: "Two"
            },
            {
              value: "Sixteen",
              text: "16"
            }
          ]
        }) }}

        {{ button({
          text: "Continue"
        }) }}

      </form>
    </div>
  </div>
{% endblock %}
